.searchbox{
    .searchbox-arrow{
        height: 30px;
        display: inline-flex;
        .searchbox-arrow-line{
            width:calc((100% - 80px) / 2);
        }
        .searchbox-arrow-icon{
            width:80px;
            top: -15px;
            .arrow {
                border: solid black;
                border-width: 0 1.5px 1.5px 0;
                display: inline-block;
                padding: 7px;
            }
        }
    }
    .collapse-content{
        border-bottom: 1px solid #bababa;
        border-radius: 0 0 10px 10px;;
    }
}