.searchbox{
    position:relative;
    .collapse-content{
        border-bottom: 1px solid #bababa;
        border-radius: 0 0 10px 10px;;
    }
}


.searchbox-arrow{
    height: 30px;
    display: inline-flex;
    position: absolute;
    bottom: -15px;
    .searchbox-arrow-line{
        width:calc((100% - 30px) / 2);
    }
    .searchbox-arrow-icon{
        width:30px;
        height:30px;
        border-radius: 50%;
        .arrow {
            border: solid white;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 4px;
        }
    }
}